<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Product Manager</title>
    <link rel="icon" href="/image/favicon.png"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css} "/>
</head>
<body>
<div class="container">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Product List</h1>
        <p class="col-md-8 fs-4">
            List of products available today for sale
        </p>
        <a class="btn btn-primary btn-lg" href="/new">Create New Product</a>
    </div>

    <div class="container-fluid">
        <div th:replace="alert"></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Product ID</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Made In</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="product : ${listProducts}">
                <td th:text="${product.id}">Product ID</td>
                <td th:text="${product.name}">Name</td>
                <td th:text="${product.brand}">Brand</td>
                <td th:text="${product.madein}">Made in</td>
                <td class="text-end" th:text="${{product.price}}">Price</td>
                <td>
                    <a class="btn btn-primary oi oi-brush"
                       title="Edit Record!"
                       th:href="@{'/edit/'+ ${product.id}}" role="button">
                    </a>
                    <a class="btn btn-danger oi oi-circle-x"
                       title="Delete Record?"
                       th:href="@{'/delete/'+ ${product.id}}">
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>